*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: block;
    width: 100%;
    height: 100%;
}
.logo{
    
    border: solid 2px #000000;
    position: relative;
    justify-content: stretch;
}
/* Sidebar carried contact info and personal value */
.sidebar{
    padding: 0px 20px;
    text-align: left;
    font-size: 10px;
    background: rgb(62, 62, 185);
    color: white;
    height: 193%;
    width: 20%;
    position: absolute;
    z-index: 1;
    line-height: 25px;
    overflow-x: hidden;
}

.sidebar a{
    padding: 0px 6px 2px 0px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
}
.sidebar a:hover{
    color: rgb(218, 63, 63);
}
.row .sidebar h1{
    font-size: 16px;
}
.sidebar h3{
    font-size: 14px;
}
.sidebar h5{
    font-size: 13px;
}
.sidebar p{
    font-size: 12px;
}
.row h3{
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(58, 26, 146);
    text-align: center;
}
.main{
    margin-left: 250px;
    padding: 85px 5px;
    width: 80%;
}
.main h3{
    color: rgb(45,20, 114);
    border-bottom: 1px solid black;
}
.footer{
    padding: 0px;
    text-align: center;
    background: rgb(45, 20 114);
    border-bottom: 2px solid;
}
img{
    max-width: 100%;
    max-height: 100%;
    float: right;
    display: block;
}
/* media query starts*/
@media screen and (max-width: 992px){
    .sidebar{
        width: 100%;
        height: 130%;
    }
    .main{
        margin-left: 297px;
        width: 60%;
    }
    img{
        max-width: 100px;
        max-height: 80%;
    }
    .logo{
        max-width: 100%;
        max-height: 100%;
    }
    
    @media screen and (max-width: 600px) {
        .sidebar{
            width: 100%;
            margin-top: 10vh;
            text-align: center;
            height: 242%;
            position: relative;
        }
        .main{
            width: 100%;
            padding-top: 40px;
            text-align: justify;
            font-size: 10;
            float: right;
        }
        img{
            width: 80%;
            float: none;
            display: inline;
        }
        /* media query ends */
    }}